.go-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}
.card{
    /*required for card resizing*/
    flex: 1 1 0;
    min-width: 20rem;
}
